@media (max-width:991px){
    header .navbar-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width:407px){
    section h1{
        font-size: 36px;
        padding-top: 72px;
    }
}

@media(max-width:575px){
    footer .pl {
        display: flex;
        justify-content: center;
        padding-top: 44px;
        font-size: 15px;
        color: #bcbcbc;
    }
}

@media(max-width:767px){
    footer .test{
        margin-top: 47px;
    }
    .text-center {
        padding-top: 30px;
        text-align: center !important;
    }
}